<%- include('header/header') %> 


    <!--Slider-->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/image1.jpg" class="d-block w-100" alt="Nothing">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/image2.jpg" class="d-block w-100" alt="Nothing">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/image3.jpg" class="d-block w-100" alt="Nothing">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!--Slider End-->

    <!--Card Section-->

    <section class="menu container mx-auto py-4">
        <h2 class="text-xl font-bold mb-4">All Restaurant</h2>
        <div class="row d-flex justify-content-center">
          <% data.forEach(element => { %>
          
                <div class="card m-4" style="width: 18rem;">
                    <img style="height: 60%; width: auto;" src="/images/<%= element.image %>" class="card-img-top" alt="Nothing">
                    <div class="card-body">
                        <a href="/restaurant/<%= element._id %>" class="btn btn-light"><h5 class="card-title"><%= element.title %></h5></a>
                        <hr>
                        <h6 class="mx-2"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg> <%= element.location %></h6>
                        <hr>
                    </div>
                </div>
            <%  }); %>
        </div>
    </section>

    <!--Card Section End-->

<%- include('header/footer') %> 